ul {
  list-style-type: none;
  margin: 3px;
}

ul.checktree li:before {
  height: 1em;
  width: 12px;
  border-bottom: 1px dashed;
  content: "";
  display: inline-block;
  top: -0.3em;
}

ul.checktree li { border-left: 1px dashed; }

ul.checktree li:last-child:before { border-left: 1px dashed; }

ul.checktree li:last-child { border-left: none; }
.kotak {
	border-left-color: #42A0FF;
	background-color: #E6F2FF;
	border-left-width: 5px;
	border-left-style: solid;
	padding-top: 4px;
	padding-right: 12px;
	padding-bottom: 4px;
	padding-left: 12px;
}
.nama {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}
.jabatan {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
}
.kotakbidang {
	border-left-color: #FFFF00;
	background-color: #FFFFE1;
	border-left-width: 5px;
	border-left-style: solid;
	padding-top: 4px;
	padding-right: 12px;
	padding-bottom: 4px;
	padding-left: 12px;
}
.kotakseksi {
	border-left-color: #FF0000;
	background-color: #FFECEF;
	border-left-width: 5px;
	border-left-style: solid;
	padding-top: 4px;
	padding-right: 12px;
	padding-bottom: 4px;
	padding-left: 12px;
}
.kotakstaff {
	border-left-color: #33CC00;
	background-color: #F2FFEC;
	border-left-width: 5px;
	border-left-style: solid;
	padding-top: 4px;
	padding-right: 12px;
	padding-bottom: 4px;
	padding-left: 12px;
}
.kotakmagang {
	border-left-color: #FFCC00;
	background-color: #FFF8D9;
	border-left-width: 5px;
	border-left-style: solid;
	padding-top: 4px;
	padding-right: 12px;
	padding-bottom: 4px;
	padding-left: 12px;
}
